/* Lớp phủ khi loading */
.overlay {
    position: fixed; /* Đảm bảo lớp phủ sẽ chiếm toàn bộ màn hình */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1051; /* Đảm bảo overlay nằm trên modal (z-index của modal là 1050) */
}

/* Đảm bảo spinner nằm ở giữa màn hình */
.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3em;
}